.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 40px;
    background-color: #101010;
}
.auth-section{
    display: flex;
    gap: 15px;
}

.login-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* LEFT USER LOGO */
.logo img {
    width: 120px;
    height: 70px;
}

/* CENTER MENU */
.options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.options ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.options ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.options ul li a:hover {
    color: #007BFF;
}

.user-content {
    display: flex;
    gap: 15px;
}

.user-bottons {
    margin-top: 400px;
    width: 100%;
    gap: 100px;
}