.signup-form {
  max-width: 400px;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: blue;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}