.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 40px;
    background-color: #101010;
}

/* LEFT USER LOGO */
.logo img {
    width: 120px;
    height: 70px;
}

/* CENTER MENU */
.options {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.options ul {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.options ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.options ul li a:hover {
    color: #007BFF;
}

/* RIGHT COMPANY LOGO */
/*.user-logo img {
    width: 40px;
    height: 40px;
}